/*
    Digital clock

    Author: Brandon Michael Weaver
    Date: May, 21, 2021
*/

:root {
    --currentX: 0turn;
    --currentY: 0turn;

    --clockShadeXD: #0f0f0f;
    --clockShadeDD: #1e1e1e;
    --clockShadeLD: #2d2d2d;
    --clockShadeDL: #3c3c3c;
    --clockShadeLL: #4b4b4b;
    --clockShadeXL: #5a5a5a;
}

body {
    overflow: hidden;

    perspective: 2550px;

    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: #050505;
}

.viewport {
    overflow: hidden;

    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 25px;
    left: 25px;

    width: calc(100% - 50px);

    background-color: #373737;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px));

    transition: top .5s;
}

.color__selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 75px;
}

.color__selector button {
    width: 50px;
    height: 50px;

    border: 5px solid #373737;
    border-radius: 50%;

    box-shadow: 0 5px 5px #050505;

    outline: none;

    transition: box-shadow 0.25s;

    cursor: pointer;
}

.color__selector button[disabled] {
    cursor: default;
}

.alarm__panel {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    position: absolute;
    bottom: 115px;
    left: 15px;

    width: 450px;
    height: 150px;

    transition: left .5s;
}

.alarm__panel .buttons__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.alarm__panel button {
    position: relative;

    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;

    outline: none;
    border: none;

    background-color: #05050500;
}

.alarm__panel button .overlay {
    position: absolute;
    top: 5px;
    left: 5px;

    width: calc(100% - 10px);
    height: calc(100% - 10px);

    background-color: #ffffff05;

    transition: background-color .25s;
}

.alarm__panel button .overlay.top {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.alarm__panel button .overlay.bottom {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.alarm__panel button:hover {
    cursor: pointer;
}

.alarm__panel .meridiem__button {
    font-family: monospace;
    font-size: 10px;

    user-select: none;

    transition: color .25s;
}

.alarm__panel .alarm__on__off, .alarm__panel .disable__alarm {
    border-radius: 50%;

    transition: background-color .25s;
}

.alarm__panel .disable__alarm[disabled] {
    cursor: default;
}

footer {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: calc(100% - 50px);

    background-color: #373737;

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 0 100%, 0 25px);
}

.footer__panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 75px;
}

.on__off {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 50px;
    height: 50px;

    background-color: #050505;

    box-shadow: 0 5px 5px #050505;

    outline: none;
    border: none;
    border-radius: 15px;
}

.on__off .overlay {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(315deg, #696969, #050505, #050505, #373737);
    background-size: 200%;
    background-position: left;

    border-radius: 5px;
}

.on__off:hover {
    cursor: pointer;
}

.on__off:active .overlay {
    background-position: right;
}

.view__selector__panel {
    position: absolute;
    top: 125px;
    right: 25px;

    width: 150px;
    height: 150px;

    background-image: linear-gradient(to left, #37373700 0%, #37373700 50%, #37373700 50%, #373737 100%);

    border-radius: 15px;

    transition: right .5s;
}

.view__selector {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 130px;
    height: 130px;

    background-color: #696969;

    border-radius: 10px;

    box-shadow: 0 5px 5px #050505;
}

.view__selector button {
    position: relative;
    float: left;

    margin: 10px 0 0 10px;
    padding: 0;
    width: 30px;
    height: 30px;

    background-color: #696969;

    box-shadow: 0 5px 5px #050505;

    outline: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.view__selector button[disabled] {
    cursor: default;

    box-shadow: inset 0 5px 5px #050505;
}

.rotate__scene__button__container {
    position: absolute;

    bottom: 12.5px;
    left: 25px;
    
    width: 50px;
    height: 50px;

    border-radius: 50%;

    box-shadow: 0 5px 5px #050505;
}

.rotate__scene__button__container .rotate__scene__button__border {
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    background-image: linear-gradient(0deg, #696969, #050505);

    border-radius: 50%;
}

@keyframes rotateBorder {
    0% { transform: rotate(var(--currentY)); }
    100% { transform: rotate(calc(var(--currentY) + 1turn)); }
}

.rotate__scene__button__container button {
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #373737;

    outline: none;
    border: none;
    border-radius: 50%;
}

.rotate__scene__button__container button[disabled]:hover {
    cursor: default;
}

.rotate__scene__button__container button:hover {
    cursor: pointer;
}

.scene {
    position: relative;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.face {
    position: absolute;

    backface-visibility: hidden;
}

.overlay {
    position: absolute;

    width: 100%;
    height: 100%;
}

@keyframes rotateScene {
    0% { transform: rotateX(var(--currentX)) rotateY(var(--currentY)); }
    0% { transform: rotateX(var(--currentX)) rotateY(calc(var(--currentY) - 1turn)); }
}

.clock__front {
    transform:
        translateZ(50px);
    padding: 10px;

    background-image: linear-gradient(var(--clockShadeXD) 0%, #050505 75%);

    clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px);
}

.display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    padding: 50px;
    min-width: 750px;
    height: 250px;

    background-color: #050505;

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 25px);
}

.message__display {
    overflow: hidden;

    position: absolute;
    top: 27.5px;
    left: 35px;

    display: flex;
    justify-content: stretch;
    align-items: center;

    width: calc(100% - 70px);
    height: 25px;
}

.message__display p {
    position: absolute;
    top: 0;
    left: calc(100% + 35px);

    display: flex;
    align-items: center;

    margin: 0;
    width: 100%;
    height: 100%;

    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;

    color: #ffffff9b;

    user-select: none;

    transition: color .25s;
}

.message__display .overlay {
    background-image: linear-gradient(to right, #050505 0%, #05050500 10px, #05050500 calc(100% - 10px), #050505 100%);
}

.date__display {
    position: absolute;
    bottom: 27.5px;
    left: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: calc(100% - 70px);
    height: 25px;
}

.date__display p {
    margin: 0;

    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;

    color: #ffffff9b;

    user-select: none;

    transition: color .25s;
}

@keyframes scrollMessage {
    0% { left: calc(100% + 35px); }
    100% { left: -100%; }
}

.digit__box {
    position: relative;

    margin: 10px;
    width: 100%;
}

.divider {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25%;
}

.dot {
    padding-top: 50%;
    width: 50%;

    border-radius: 50%;

    transition: background-color .25s;
}

.dot + .dot {
    margin-top: 50px;
}

.digit__section {
    position: absolute;

    transition: background-color .25s;
}

.digit__section.top {
    top: 0;
    left: 5px;

    width: calc(100% - 10px);
    height: 10px;

    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 10px 100%);
}

.digit__section.right {
    right: 0;

    width: 10px;
    height: calc(50% - 10px);

    clip-path: polygon(100% 0, 100% 100%, 0 calc(100% - 10px), 0 10px);
}

.digit__section.bottom {
    bottom: 0;
    left: 5px;

    width: calc(100% - 10px);
    height: 10px;

    clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 100%, 0 100%);
}

.digit__section.left {
    left: 0;

    width: 10px;
    height: calc(50% - 10px);

    clip-path: polygon(0 0, 100% 10px, 100% calc(100% - 10px), 0 100%);
}

.meridiem {
    margin: 0;

    font-family: monospace;
    font-size: 15px;

    color: #fff;

    user-select: none;

    transition: color .25s;
}

.meridiem + .meridiem {
    margin-top: 50px;
}

.clock__back {
    transform:
        translateZ(-50px)
        rotateX(180deg)
        rotateZ(180deg);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 869px;
    height: 369px;

    background-color: var(--clockShadeLD);

    clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px);

    background-clip: content-box;
}

.clock__back .panel__container {
    position: relative;

    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 5px #050505);
}

.clock__back .panel {
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 20px);
    height: calc(100% - 20px);

    background-color: var(--clockShadeLD);

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 25px);
}

.engraving {
    margin: 0;
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 60px;

    color: var(--clockShadeLD);

    text-shadow: -2px -1px 0 #1e1e1e;

    background-clip: text;
    -webkit-background-clip: text;

    user-select: none;

    transition: text-shadow .5s ease-in-out;
}

.screw {
    position: absolute;

    width: 25px;
    height: 25px;

    background-color: #050505;

    box-shadow: inset 2px -2px 0 #696969;

    border-radius: 50%;
}

.screw__shading {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% + 2px);
    height: calc(100% - 2px);

    font-family: monospace;
    font-size: 20px;
    color: #1e1e1e;

    user-select: none;
}

.clock__top {
    transform:
        translateY(-185px)
        rotateX(90deg)
        rotateZ(90deg);

    width: 100px;
    height: 810px;

    background-color: var(--clockShadeDL);

    background-clip: content-box;
}

.clock__right {
    transform:
        translateX(434px)
        rotateY(90deg);

    width: 100px;
    height: 310px;

    background-image: linear-gradient(var(--clockShadeXD) 0%, #050505 calc(75% + 15px));
    /* background-color: var(--clockShadeXD); */

    background-clip: content-box;
}

.clock__left {
    transform:
        translateX(-434px)
        rotateY(-90deg);

    width: 100px;
    height: 310px;

    background-color: var(--clockShadeDL);

    background-clip: content-box;
}

.clock__corner {
    width: 100px;
    height: 43px;

    background-clip: content-box;
}

.clock__corner.top__right {
    transform:
        translateX(419px)
        translateY(-169px)
        rotateX(90deg)
        rotateY(45deg)
        rotateZ(90deg);

    background-color: var(--clockShadeDD);
}

.clock__corner.top__left {
    transform:
        translateX(-419px)
        translateY(-169px)
        rotateX(90deg)
        rotateY(-45deg)
        rotateZ(90deg);

    background-color: var(--clockShadeXL);
}

.clock__corner.bottom__right {
    transform:
        translateX(419px)
        translateY(169px)
        rotateX(90deg)
        rotateY(135deg)
        rotateZ(90deg);

    background-color: #050505;
}

.clock__corner.bottom__left {
    transform:
        translateX(-419px)
        translateY(169px)
        rotateX(90deg)
        rotateY(-135deg)
        rotateZ(90deg);

    background-color: var(--clockShadeXD);
}

.clock__refraction {
    position: absolute;

    transform:
        translateZ(260px)
        translateY(185px)
        rotateX(90deg);

    width: calc(750px * 2);
    height: 400px;

    background-image: linear-gradient(#050505cd, #050505);

    clip-path: polygon(calc(25% + 10px) 0, calc(75% - 10px) 0, 100% 100%, 0 100%);

    transition: background-color .25s;
}

.clock__refraction .radius {
    padding-top: 100%;
    width: 100%;

    border-radius: 50%;

    box-shadow: 0 0 50px 200px #050505;
}

.label {
    position: absolute;

    display: flex;
    flex-direction: row;

    height: 50px;
}

.label .line {
    margin: 24px 10px 0 10px;
    height: 2px;
    width: 50px;

    background-color: #fff;
}

.label .box__line {
    height: calc(50% - 1px);
    width: 50px;

    border-bottom: 2px solid #fff;
}

.box__line.left {
    margin-right: 10px;

    border-left: 2px solid #fff;
}

.box__line.right {
    margin-left: 10px;

    border-right: 2px solid #fff;
}

.label p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: .75rem;

    color: #fff;

    user-select: none;
}

button.hide__show {
    position: absolute;

    width: 10px;
    height: 10px;

    background-color: #fff;

    outline: none;
    border: none;

    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.hide__show:hover {
    cursor: pointer;
}
