/*
    Digital clock

    Author: Brandon Michael Weaver
    Date: May, 21, 2021
*/

body {
    overflow: hidden;

    margin: 0;

    background-color: #050505;
}

header {
    position: fixed;
    top: 25px;
    left: 25px;

    width: calc(100% - 50px);

    background-color: #373737;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px));
}

.color__selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 75px;
}

.color__selector button {
    width: 50px;
    height: 50px;

    border: 5px solid #373737;
    border-radius: 50%;

    box-shadow: 0 5px 5px #050505;

    transition: box-shadow 0.25s;
}

.color__selector button:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: calc(100% - 50px);

    background-color: #373737;

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 0 100%, 0 25px);
}

.footer__panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 75px;
}

.on__off {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 50px;
    height: 50px;

    background-color: #050505;

    box-shadow: 0 5px 5px #050505;

    border: none;
    border-radius: 15px;
}

.on__off .overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(315deg, #696969, #050505, #050505, #373737);
    background-size: 200%;
    background-position: left;

    border-radius: 5px;
}

.on__off:hover {
    cursor: pointer;
}

.on__off:active .overlay {
    background-position: right;
}

.view__selector {
    position: fixed;
    bottom: 37.5px;
    left: calc(100% - 232.5px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 180px;
    height: 50px;
    
    background-color: #696969;

    border-radius: 10px;

    box-shadow: 0 5px 5px #050505;

    user-select: none;
}

.view__selector .radio__button__container {
    position: relative;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

.view__selector input {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
}

.view__selector .overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /* background-image: linear-gradient(315deg, #696969, #050505, #050505, #373737); */
    /* background-size: 200%; */
    /* background-position: left; */

    background-color: #373737;

    box-shadow: 0 5px 5px #050505;

    border-radius: 5px;
}

.view__selector input:checked ~ .overlay {
    /* background-position: right; */

    box-shadow: inset 0 5px 5px #050505;
}

@keyframes boxShadow {
    0% { box-shadow: 0 5px 5px #050505; }
    50% { box-shadow: none; }
    100% { box-shadow: inset 0 5px 5px #050505; }
}

.clock__container {
    position: relative;
    transform:
        rotateX(0deg)
        rotateY(0deg);
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    /* animation: rotateScene 10s infinite ease-in-out alternate; */

    transition: transform 1s ease-in-out;
}

@keyframes rotateScene {
    0% { transform: rotateX(340deg) rotateY(-30deg); }
    100% { transform: rotateX(340deg) rotateY(30deg); }
}

.clock__front {
    position: absolute;

    padding: 10px;

    background-image: linear-gradient(#373737 0%, #050505 75%);

    clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px);
}

.clock {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    padding: 50px;
    min-width: 750px;
    height: 250px;

    background-color: #050505;

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 25px);
}

.message__display {
    overflow: hidden;

    position: absolute;
    top: 27.5px;
    left: 35px;

    display: flex;
    justify-content: stretch;
    align-items: center;

    width: calc(100% - 70px);
    height: 25px;
}

.message__display .overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to right, #050505 0%, #05050500 10px, #05050500 calc(100% - 10px), #050505 100%);
}

.message__display p {
    position: absolute;
    top: 0;
    left: calc(100% + 35px);

    display: flex;
    align-items: center;

    margin: 0;
    width: 100%;
    height: 100%;

    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;

    color: #ffffff9b;

    user-select: none;

    transition: color .25s;
}

@keyframes scrollMessage {
    0% { left: calc(100% + 35px); }
    100% { left: -100%; }
}

.digit__box {
    position: relative;

    margin: 10px;
    width: 100%;
}

.divider {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25%;
}

.dot {
    padding-top: 50%;
    width: 50%;

    border-radius: 50%;

    transition: background-color .25s;
}

.dot + .dot {
    margin-top: 50px;
}

.digit__section {
    position: absolute;

    transition: background-color .25s;
}

.top {
    top: 0;
    left: 5px;

    width: calc(100% - 10px);
    height: 10px;

    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 10px 100%);
}

.right {
    right: 0;

    width: 10px;
    height: calc(50% - 10px);

    clip-path: polygon(100% 0, 100% 100%, 0 calc(100% - 10px), 0 10px);
}

.bottom {
    bottom: 0;
    left: 5px;

    width: calc(100% - 10px);
    height: 10px;

    clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 100%, 0 100%);
}

.left {
    left: 0;

    width: 10px;
    height: calc(50% - 10px);

    clip-path: polygon(0 0, 100% 10px, 100% calc(100% - 10px), 0 100%);
}

.meridiem {
    margin: 0;

    font-family: monospace;
    font-size: 15px;

    color: #fff;

    user-select: none;

    transition: color .25s;
}

.meridiem + .meridiem {
    margin-top: 50px;
}

.clock__back {
    position: absolute;
    transform:
        translateZ(-100px);

    width: 870px;
    height: 370px;

    background-image: linear-gradient(#696969 0%, #050505 75%);

    clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px);
}

.clock__top {
    position: absolute;
    transform:
        translateY(-185px)
        translateZ(-50px)
        rotateX(90deg);

    width: 810px;
    height: 100px;

    background-color: #696969;
}

.clock__right {
    position: absolute;
    transform:
        translateX(435px)
        translateZ(-50px)
        rotateY(90deg);

    width: 100px;
    height: 310px;

    background-image: linear-gradient(#373737 0%, #050505 calc(75% + 15px));
}

.clock__left {
    position: absolute;
    transform:
        translateX(-435px)
        translateZ(-50px)
        rotateY(90deg);

    width: 100px;
    height: 310px;

    background-image: linear-gradient(#696969 0%, #050505 calc(75% + 15px));
}

.clock__corner__right {
    position: absolute;
    transform:
        translateX(419.5px)
        translateY(-170px)
        translateZ(-50px)
        rotateX(90deg)
        rotateY(45deg);

    width: 42.5px;
    height: 100px;

    background-color: #373737;
}

.clock__corner__left {
    position: absolute;
    transform:
        translateX(-420.5px)
        translateY(-170px)
        translateZ(-50px)
        rotateX(90deg)
        rotateY(-45deg);

    width: 42.5px;
    height: 100px;

    background-color: #9b9b9b;
}

.clock__refraction {
    position: absolute;

    transform:
        translateZ(210px)
        translateY(170px)
        rotateX(90deg);

    width: calc(750px * 2);
    height: 400px;

    background-image: linear-gradient(#050505cd, #050505);

    clip-path: polygon(calc(25% + 10px) 0, calc(75% - 10px) 0, 100% 100%, 0 100%);

    transition: background-color .25s;
}

.clock__refraction .radius {
    padding-top: 100%;
    width: 100%;

    border-radius: 50%;

    box-shadow: 0 0 50px 200px #050505;
}
